body{
    background-color: black;
    overflow: hidden;
}

.Approval-h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: -118px;
    right: -1209px;
}

.Approval-para{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: relative;
    right: -1138px;
    bottom: -126px; 
}

.backtologin a{
    text-decoration: none;
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -328px;
    right: -1196px;
}

.backtologin img{
    position: relative;
    top: 6px;
}

.waiting{
    position: relative;
    top: 127px;
    right: -1155px;
}