/* Original CSS for desktop/laptop screens */
body {
    background-color: black;
    overflow: hidden;
}

.Apply-h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: -60px;
    right: -699px;
}

input[type="text"],
input[type="password"] {
    width: 220px;
    padding: 6px 1px;
}

label,
input[type="text"],
input[type="password"],
input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: -708px;
    bottom: -80px;
}

button {
    background-color: #1366D9;
    padding: 6px 95px;
    color: white;
    position: relative;
    bottom: -105px;
    right: -708px;
    cursor: pointer;
    border: #1366D9;
    border-radius: 2px;
}

.westmnstr-bars2 {
    position: absolute;
    left: 100px;
    top: 145px;
}

.westmnstr-bars{
    display: none;
}

label {
    color: yellow;
}

.backtologin a {
    text-decoration: none;
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -407px;
    right: -686px;
}

.backtologin img {
    position: relative;
    top: 6px;
}

/* Media queries for small screens (mobile phones and tablets) */
@media only screen and (max-width: 768px) {
    /* Adjustments for small screens */
    body {
        overflow: none; /* Allowing vertical scroll on small screens */
    }
    
    .Apply-h2,
    input[type="text"],
    input[type="password"],
    input[type="submit"],
    label,
    button,
    .backtologin a {
        position: relative;
        right: -111px;
        bottom: -72px;
    }
    
    .backtologin {
        text-align: center; /* Centering the "back to login" link */
    }

   .westmnstr-bars2{
    display: none;
}

.westmnstr-bars {
    position: relative; /* Ensure the small screen logo is visible */
    right: -180px;
    top: -464px;
    display: block; /* Display the small screen logo */
}

  .backtologin a{
    position: relative;
    right: 137px;
  }

}
