body{
    background-color: black;
    overflow: hidden;
}

.Apply-h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: -60px;
    right: -699px;
}


input[type = text], input[type = password]{
    width: 220px;
    padding: 6px 1px;
}

label,input[type="text"],input[type="password"],input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: -708px;
    bottom: -80px;
}

button{
background-color: #1366D9;
padding: 6px 95px;
color: white;
position: relative;
bottom: -105px;
right: -708px;
cursor: pointer;
border: #1366D9;
border-radius: 2px;
}


.westmnstr-bars2{
    position: absolute;
    left: 100px;
    top: 145px;
}

label{
    color: yellow;
}

.backtologin a{
    text-decoration: none;
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -407px;
    right: -686px;
}

.backtologin img{
    position: relative;
    top: 6px;
}


