body{

    background-color: black;

    overflow: hidden;

}



.forgetpassword-h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 18%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.westmnstr-bars{

    position: relative;

    right: -845px;

    bottom: -22px;

}



.forget-para{

    color: yellow;

    font-family: Arial, Helvetica, sans-serif;

    font-size: small;

    position: relative;

    right: -786px;

    bottom: -58px; 

}







label,input[type="text"],input[type="password"],input[type="submit"] {

    display: block;

    margin-bottom: 10px;

    color: black;

    font-family: Arial, Helvetica, sans-serif;

    position: relative;

    right: -794px;

    bottom: -65px;

}



button{background-color: #1366D9;padding: 11px 105px;color: white;position: relative;bottom: -95px;right: -795px;cursor: pointer;border: #1366D9;border-radius: 2px;}



.forgot  a { 

    color: #1366D9;

    position: relative;

    bottom: -38px;

    right: -786px;

    font-size: smaller;

    font-family: Arial, Helvetica, sans-serif;



}



.westmnstr-bars2{

    position: absolute;

    left: 100px;

    top: 145px;

}



label{color: white;}
