body {
  margin: 0;
}

.Nav-sidebar {
  width: 250px;
  height: 100%;
  background-color: white;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  margin-bottom: 0;
}

.Nav-bar ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.Nav-bar li a {
  display: block;
  color: gray;
  padding: 4px 16px;
  text-decoration: none;
  font-size: medium;
  position: relative;
  bottom: -125px;
  font-family: Arial, Helvetica, sans-serif;
}

.Nav-bar li a.blue-link {
  color: #0867EC;
}

.westmnstr-logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
}

.top-bar {
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 2;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(Images/uni-background.png);
  z-index: -1;
}

.dash-icon {
  position: relative;
  top: 99px;
  left: -14px;
  width: 20px;
  height: auto;
}

.item-icon {
  position: relative;
  top: 97px;
  left: -20px;
  width: 29px;
  height: auto;
}

.report-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 27px;
  height: auto;
}

.manage-icon {
  position: relative;
  top: 94px;
  left: -27px;
  width: 40px;
  height: 35px;
}

.manageusers-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 28px;
  height: auto;
}

.previousbkng-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 28px;
  height: auto;
}

.alert-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 28px;
  height: auto;
}

h1 {
  margin-top: -10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin: 50px auto;
  border-collapse: collapse;
  background-color: #fff;
  width: 50%; /* Increase the width to 100% */
  height: 500px; /* Increase the height to 400px */
}

table tr td {
  padding: 30px;
  margin-bottom:-20px; /* Decrease the margin value to reduce the space */
}

table tr:not(:first-child) {
  margin-top: px;
}

table tr td label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

table tr td input[type="date"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

table tr td button {
  padding: 10px 20px;
  background-color: #0867EC;
  margin-left:260px;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

table tr td button:hover {
  background-color: #054FCC;
}

.logout ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .logout li a {
    display: block;
    color: gray;
    padding: 4px 16px;
    text-decoration: none;
    font-size: medium;
    position: relative;
    bottom: -901px;
    left: -12px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
  }
  
  .logout li a.blue-link {
    color: #0867EC;
  }
  
