body{
    background-color: gray;
    margin: 0;
}


.Nav-sidebar {
    width: 250px;
    height: 100%;
    background-color: white;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1; 
    overflow-x: hidden;
    margin-bottom: 0;
}

.westmnstr-logo{
 position: fixed;
 top: 0;
 left: 0;
 padding: 20px;
 z-index: 2;
}

.westmnstr-logo img{
    width: 150px;
    height: auto;
    position: relative;
    top: -15px;
}

.dashbrd-h3{
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;  
    position: absolute;
    right: 1044px;
    bottom: 495px;
}


.Nav-bar ul {
    list-style: none; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0; 
  }

  .Nav-bar li a{
    display: block;
    color: #1570EF;
    padding: 4px 16px;
    text-decoration: none;
    font-size: medium;
    position: relative;
    bottom: -125px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .dash-icon{
    position: relative;
    top: 99px;
    left: -14px;
    width: 20px;
    height: auto;
  }

  .item-icon{
    position: relative;
    top: 88px;
    left: -33px;
    width: 50px;
    height: auto;
  }

  .report-icon{
    position: relative;
    top: 94px;
    left: -27px;
    width: 40px;
    height: auto;
  }

  .manage-icon{
    position: relative;
    top: 89px;
    left: -27px;
    width: 40px;
    height: auto;
  }

  .manageusers-icon{
    position: relative;
    top: 96px;
    left: -20px;
    width: 28px;
    height: auto;
  }

  .previousbkng-icon{
    position: relative;
    top: 96px;
    left: -20px;
    width: 28px;
    height: auto;
  }

  .alert-icon{
    position: relative;
    top: 96px;
    left: -20px;
    width: 28px;
    height: auto;
  }
  
.top-bar{
    width: 100%;
    height: 60px; 
    background-color:white;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: absolute;
    right: 0px;
    overflow-y: hidden;
}


