body{
    background-color: gray;
    margin: 0;
}


.Nav-sidebar {
    width: 250px;
    height: 100%;
    background-color: white;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1; 
}

.westmnstr-logo{
 position: fixed;
 top: 0;
 left: 0;
 padding: 20px;
 z-index: 2;
}

.westmnstr-logo img{
    width: 150px;
    height: auto;
    position: relative;
    top: -15px;
}

.dashbrd-h3{
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;  
    position: absolute;
    right: 1044px;
    bottom: 490px;
}


.Nav-bar ul {
    list-style: none; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0; 
  }

  .Nav-bar li a{
    display: block;
    color: #1570EF;
    padding: 4px 16px;
    text-decoration: none;
    font-size: medium;
    position: relative;
    bottom: -125px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }

  .dash-icon{
    position: relative;
    top: 99px;
    left: -14px;
    width: 20px;
    height: auto;
  }

  .item-icon{
    position: relative;
    top: 88px;
    left: -33px;
    width: 50px;
    height: auto;
  }

  .report-icon{
    position: relative;
    top: 92px;
    left: -18px;
    width: 25px;
    height: auto;
  }
  



