body {
  margin: 0;
}

.Nav-sidebar {
  width: 250px;
  height: 100%;
  background-color: white;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  margin-bottom: 0;
}

.Nav-bar ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.Nav-bar li a {
  display: block;
  color: gray;
  padding: 4px 16px;
  text-decoration: none;
  font-size: medium;
  position: relative;
  bottom: -125px;
  font-family: Arial, Helvetica, sans-serif;
}

.Nav-bar li a.blue-link {
  color: #0867EC;
}

.westmnstr-logo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
}

.top-bar {
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  z-index: 2;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("Images/uni-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}

.dash-icon {
  position: relative;
  top: 99px;
  left: -14px;
  width: 20px;
  height: auto;
}

.item-icon {
  position: relative;
  top: 95px;
  left: -23px;
  width: 30px;
  height: 30px;
}

.report-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 27px;
  height: auto;
}

.manage-icon {
  position: relative;
  top: 94px;
  left: -27px;
  width: 40px;
  height: 35px;
}

.manageusers-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 28px;
  height: auto;
}

.previousbkng-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 28px;
  height: auto;
}

.alert-icon {
  position: relative;
  top: 96px;
  left: -20px;
  width: 28px;
  height: auto;
}