<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Short_icon.png'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    
    <link rel="stylesheet" href="{% static 'css/admin-itemlist.css' %}">

</head>
<body>
    <div class="content-wrapper">

        <div class="Nav-sidebar">
            <ul class="Nav-bar">

                <li> <a href="{% url 'inventory:admin_dashboard'%}" onclick="toggleNav(this)">Dashboard</a></li>
                <a href="{% url 'inventory:admin_dashboard'%}"><img src="{% static 'Images/home.png' %}" alt="Dashboard Icon" class="dash-icon"></a>
                <li> <a href="#" onclick="toggleNav(this)">Item List</a></li>
                <a href="#"><img src="{% static 'Images/itemlist.png' %}" alt="Item List Icon" class="item-icon"></a>
                <li> <a href="{% url 'inventory:generate_reports'%}" onclick="toggleNav(this)">Reports</a></li>
                <a href="{% url 'inventory:generate_reports'%}"><img src="{% static 'Images/Report.png' %}" alt=" Report Icon" class="report-icon"></a>
                <li> <a href="{% url 'inventory:manage_users'%}" onclick="toggleNav(this)">Manage Users</a></li>
                <a href="{% url 'inventory:manage_users'%}"><img src="{% static 'Images/Manage users.png' %}" alt="manage users report-icon" class="manageusers-icon"></a>
                <li><a href="{% url 'inventory:admin_alerts' %}" onclick="toggleNav(this)">Alerts</a></li>
                <a href="{% url 'inventory:admin_alerts' %}"><img src="{% static 'Images/Alert.png' %}" alt="Alerts Icon" class="alert-icon"></a>
            </ul>
        </div>

        <div class="Logout-nav">
            <ul>
                <li><a href="{% url 'inventory:logout' %}">Logout</a></li>
                <a href=#><img src="{% static 'Images/Logout.png' %}" alt="Logout Icon" class="Logout-icon"></a>
            </ul>
        </div>
    

        <div class="westmnstr-logo">
            <a href="Dashboard.html">
                <img src="{% static 'Images/Westminster Logo.png' %}" alt="Westminster Logo">
            </a>
        </div>

        <div class="top-bar">
            <div class="search-bar">
                <form action="{% url 'inventory:admin_item_list' %}" method="GET">
                    <input type="text" placeholder="Search product by name (case sensitive)" name="search">  
                    <button type="submit">Search</button>
                </form>
            </div>
            
            <div class="dropdown">
                <img src="{% static 'Images/DefaultUser.png' %}" alt="User Profile" class="user-profile">
                <div class="dropdown-content">
                    <a href="{% url 'admin:login' %}">Login</a>
                    <a href="#">Account Settings</a>
                    <a href="#">Update Information</a>
                    <a href="{% url 'admin:logout' %}">Logout</a>
                </div>
            </div>
        </div>

        <div class="main-content">

            <div class="main-content">
                

                <section class="equipment-section">
                    <h2>Equipment</h2>
                    <a href="{% url 'inventory:add_equipment' %}" class="add-item-button">Add Item</a>
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>id</th>
                            <th>Details</th> 
                            <th>Update item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in page_obj %}
                        <tr>
                            <td>{{ equipment.status }}</td>
                            <td>{{ equipment.id }}</td>
                            <td><a href="{% url 'inventory:equipment_details' equipment.id %}">{{ equipment.name }}</a></td>
                            <td><a href="{% url 'inventory:update_equipment' equipment.id %}" class="update-button">Update</a></td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="6">No equipment available.</td></tr>
                        {% endfor %}
                    </tbody>

                    
                </table>

                    <div class="pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
                    </div>
                </section>
        </div>
    </div>  
</body>
</html>