<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Short_icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="{% static 'css/admin-manageuser.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <div class="Nav-sidebar">
            <ul class="Nav-bar">
                <li><a href="{% url 'inventory:admin_dashboard' %}">Dashboard</a></li>
                <a href="{% url 'inventory:admin_dashboard' %}"><img src="{% static 'Images/home.png'%}" alt="Dashboard Icon" class="dash-icon"></a>
                <li><a href="{% url 'inventory:admin_item_list' %}">Item List</a></li>
                <a href="#"><img src="{% static 'Images/itemlist.png'%}" alt="Item List Icon" class="item-icon"></a>
                <li> <a href="{% url 'inventory:generate_reports'%}" onclick="toggleNav(this)">Reports</a></li>
                <a href="{% url 'inventory:generate_reports'%}"><img src="{% static 'Images/Report.png'%}" alt=" Report Icon" class="report-icon"></a>
                <li> <a href="#" onclick="toggleNav(this)">Manage Users</a></li>
                <a href="#"><img src="{% static 'Images/Manage users.png'%}" alt="manage users report-icon" class="manageusers-icon"></a>
                <li><a href="{% url 'inventory:admin_alerts' %}" onclick="toggleNav(this)">Alerts</a></li>
                <a href="{% url 'inventory:admin_alerts' %}"><img src="{% static 'Images/Alert.png' %}" alt="Alerts Icon" class="alert-icon"></a>
            </ul>
        </div>

        <div class="Logout-nav">
            <ul>
                <li><a href="{% url 'inventory:logout' %}">Logout</a></li>
                    <img src="{% static 'Images/Logout.png' %}" alt="Logout Icon" class="Logout-icon">
                </a></li>
            </ul>
        </div>

        <div class="westmnstr-logo">
            <a href="{% url 'inventory:admin_dashboard' %}"><img src="{% static 'Images/Westminster Logo.png' %}" alt="Westminster logo"></a>
        </div>
        <div class="top-bar">

        </div>



        <section class="user-section">
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="table-header">
                <div class="users-title">Users</div>
                <div class="button-group">

                    <form action="{% url 'inventory:manage_users' %}" method="post">
                        {% csrf_token %}
                        <div class="button-group">
                            <button name="approve_all" type="submit" class="approveall-but">Approve all</button>
                            <button name="delete_all" type="submit" class="deleteall-but">Delete all</button>
                        </div>
                    </form>
                </div>
            </div>
        
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.admin_profile %}
                                Admin
                            {% elif user.student_profile %}
                                Student - Grade: {{ user.student_profile.grade }}
                            {% elif user.staff_profile %}
                                Staff - {{ user.staff_profile.job_role }}
                            {% else %}
                                Unknown Role
                            {% endif %}
                        </td>
                        <td class="action-buttons">
                            {% if user.student_profile and not user.student_profile.adminApprovalStatus or user.staff_profile and not user.staff_profile.adminApprovalStatus %}
                            <form action="{% url 'inventory:manage_users' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="approve_id" value="{{ user.id }}">
                                <button type="submit">Approve</button>
                            </form>
                            {% else %}
                            Approved
                            {% endif %}
                            <form action="{% url 'inventory:manage_users' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="delete_id" value="{{ user.id }}">
                                <button type="submit" class="delete-button">
                                    <img src="{% static 'Images/delete icon.png' %}" alt="Delete Icon">
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No users found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}" class="previous-button">Previous</a>
                {% endif %}
                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}" class="next-button">Next</a>
                {% endif %}
            </div>
        </section>
    </div>

    <script>
        function toggleNav(link) {
            var links = document.querySelectorAll('.Nav-bar li a');
            links.forEach(function (el) {
                el.classList.remove('blue-link');
            });
            link.classList.add('blue-link');s
        }
    </script>
</body>
</html>