<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Short_icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forgetpassword.css' %}">
</head>
<body>
    <h2 class="forgetpassword-h2">Forgot your password?</h2>
    <div class="westmnstr-bars">
        <img src="{% static 'Images/Westminster Yellow Logo.png' %}" alt="Westminster yellow bars" style="width: 100px;" height="100px">
    </div>
    <p class="forget-para">Dont worry, it happens to all of us. Contact admin for assistance.</p>
    <div class="westmnstr-bars2">
        <img src="{% static 'Images/Westminster Yellow Logo.png' %}" alt="westmnstr-bars2" style="width: 400px; height: 400px;">
    </div>
</body>
</html>