<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Short_icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item List</title>
    <link rel="stylesheet" href="{% static 'css/user-itemlist.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <div class="Nav-sidebar">
            <ul class="Nav-bar">
                <li><a href="{% url 'inventory:user_dashboard_view' %}">Dashboard</a></li>
                <a href="{% url 'inventory:user_dashboard_view' %}"><img src="{% static 'Images/home.png'%}" alt="Dashboard Icon" class="dash-icon"></a>
                <li><a href="{% url 'inventory:user_item_list' %}">Item List</a></li>
                <a href="{% url 'inventory:user_item_list' %}"><img src="{% static 'Images/itemlist.png'%}" alt="Item List Icon" class="item-icon"></a>
                <li> <a href="{% url 'inventory:return_equipment' %}" onclick="toggleNav(this)">Return Equipment</a></li>
                <a href="{% url 'inventory:return_equipment' %}"><img src="{% static 'Images/Report.png'%}" alt=" Return Icon" class="return-icon"></a>
                <li> <a href="{% url 'inventory:user_alerts' %}" onclick="toggleNav(this)">Alerts</a></li>
                <a href="{% url 'inventory:user_alerts' %}"><img src="{% static 'Images/Alert.png'%}" alt=" Alerts Icon" class="alert-icon"></a>
        </div>
    </div>

    <div class="westmnstr-logo">
        <a href="{% url 'inventory:user_dashboard_view' %}"><img src="{% static 'Images/Westminster Logo.png' %}" alt="Westminster logo"></a>
    </div>
    <div class="top-bar">
        
    </div>

    <div class="Logout-nav">
        <ul>
            <li><a href="{% url 'inventory:logout' %}">Logout</a></li>
            <a href="{% url 'inventory:logout' %}"><img src="{% static 'Images/Logout.png' %}" alt="Logout Icon" class="Logout-icon"></a>
        </ul>
    </div>


    <div class="line-divider"></div>

    <div class="table-box">
        <section class="equipment-section">
            <h2>Equipment</h2>
            <table>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>id</th>
                        <th>Details</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for equipment in page_obj %}
                    <tr>
                        <td>{{ equipment.status }}</td>
                        <td>{{ equipment.id }}</td>
                        <td><a href="{% url 'inventory:equipment_details' equipment.id %}">{{ equipment.name }}</a></td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="6">No equipment available.</td></tr>
                    {% endfor %}
                </tbody>

                
            </table>
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </section>
    </div>



</body>
</html>