<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'Images/Short_icon.png' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student/Staff Login</title>
    <link rel="stylesheet" href="{% static 'css/UsersLogin.css' %}">
</head>
<body>
    <h2 class="UserLogin-h2">Student/Staff Login</h2>
    <div class="westmnstr-bars">
        <img src="{% static 'Images/Westminster Yellow Logo.png' %}" alt="Westminster yellow bars" style="width: 100px; height: 100px;">
    </div>
    <p class="Login-para">Welcome back! Please enter your details.</p>

    <form method="post" action="{% url 'inventory:custom_login' %}">
        {% csrf_token %}
        <div>
            <label for="id_username">Email:</label>
            <input type="email" name="username" id="id_username" required placeholder="Enter your email">
        </div>
    
        <div>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required placeholder="Enter your password">
        </div>

        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="forgot">
        <a href="{% url 'inventory:forgot_password' %}">Forgot password?</a>
    </div>

    <p class="User-message">Don't have an account?</p>
    <div class="Register">
        <a href="{% url 'inventory:register_account' %}">Register</a>
    </div>

    <div class="westmnstr-bars2">
        <img src="{% static 'Images/Westminster Yellow Logo.png' %}" alt="westmnstr-bars2" style="width: 400px; height: 400px;">
    </div>
</body>
</html>
