<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" type="x-icon" href="{% static 'Images/Short_icon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/user-dashboard.css' %}">
</head>
<body>
    <div class="content-wrapper">
        <div class="Nav-sidebar">
            <ul class="Nav-bar">
                <li><a href=#>Dashboard</a></li>
                <a href="#"><img src="{% static 'Images/home.png'%}" alt="Dashboard Icon" class="dash-icon"></a>
                <li><a href="{% url 'inventory:user_item_list' %}">Item List</a></li>
                <a href="{% url 'inventory:return_equipment' %}"><img src="{% static 'Images/itemlist.png'%}" alt="Item List Icon" class="item-icon"></a>
                <li> <a href="{% url 'inventory:return_equipment' %}" onclick="toggleNav(this)">Return Equipment</a></li>
                <a href="{% url 'inventory:return_equipment' %}"><img src="{% static 'Images/Report.png'%}" alt=" Return Icon" class="return-icon"></a>
                <li> <a href="{% url 'inventory:user_alerts' %}" onclick="toggleNav(this)">Alerts</a></li>
                <a href="{% url 'inventory:user_alerts' %}"><img src="{% static 'Images/Alert.png'%}" alt=" Alerts Icon" class="alert-icon"></a>

        </div>
    </div>

    <div class="Logout-nav">
        <ul>
            <li><a href="{% url 'inventory:logout' %}">Logout</a></li>
            <a href="{% url 'inventory:logout' %}"><img src="{% static 'Images/Logout.png' %}" alt="Logout Icon" class="Logout-icon"></a>
        </ul>
    </div>

    <div class="westmnstr-logo">
        <a href="{% url 'inventory:user_dashboard_view' %}"><img src="{% static 'Images/Westminster Logo.png' %}" alt="Westminster logo"></a>
    </div>
    <div class="top-bar">
        
    </div>

    <div class="dropdown">
        <img src="{% static 'images/DefaultUser.png' %}" alt="User-profile">
        <div class="dropdown-content">
            <a href="{% url 'inventory:user_account_settings' %}">Account Settings</a>
        </div>
    </div>

    <div class="line-divider"></div>

    <script>
        function toggleNav(link) {
            var links = document.querySelectorAll('.Nav-bar li a');
            links.forEach(function (el) {
                el.classList.remove('blue-link');
            });
            link.classList.add('blue-link');
        }
    </script>
</body>
</html>
