body {
  background-image: url(Images/university-of-westminister-harrow-campus1111-under-construction-harrow-EDEA9D_result.png);
  background-size: cover;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.search-bar {
  width: 100%;
  background-color: white;
  padding: 14px;
  position: fixed;
  top: 0;
  left: 223px;
  z-index: 3; 
}
.dropdown {
  position: absolute;
  top: 0;
  right: 117px;
  margin-top: 10px; 
  margin-right: 10px; 
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap; 
  display: block;
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown img {
  border-radius: 50%;
}

.search-bar input[type=text] {
  width: 808px; 
  padding: 8px;
  border: 1px solid black;
}

.search-bar button[type="submit"] {
  padding: 4px 8px;
  font-size: 12px;
}
.westmnstr-logo{
 position: fixed;
 top: 0;
 left: 0;
 padding: 20px;
 z-index: 2;
}

.westmnstr-logo img{
    width: 150px;
    height: auto;
    position: relative;
    top: -15px;
}

.dashbrd-h3{
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;  
    position: fixed;
    right: 1036px;
    bottom: 490px;
    white-space: nowrap;
}


.Nav-sidebar {
  width: 223px;
  height: 100%;
  background-color: white;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-x: hidden;
  margin-bottom: 0;
}

.Nav-bar ul {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.Nav-bar li a {
  display: block;
  color: gray;
  padding: 1px 16px;
  text-decoration: none;
  font-size: medium;
  position: relative;
  bottom: -104px;
  font-family: Arial, Helvetica, sans-serif;
}

.Nav-bar li a.blue-link {
  color: #0867EC;
}


  .dash-icon{
    position: relative;
    top: 81px;
    left: -23px;
    width: 24px;
    height: auto;
  }

  .item-icon{
    position: relative;
    top: 78px;
    left: -26px;
    width: 30px;
    height: auto;
  }

  .report-icon{
    position: relative;
    top: 79px;
    left: -23px;
    width: 26px;
    height: auto;
  }

  .manage-icon{
    position: relative;
    top: 77px;
    left: -26px;
    width: 32px;
    height: 30px;
  }

  .manageusers-icon{
    position: relative;
    top: 76px;
    left: -26px;
    width: 33px;
    height: auto;
  }

  .previousbkng-icon{
    position: relative;
    top: 75px;
    left: -24px;
    width: 30px;
    height: 30px;
  }

  .alert-icon{
    position: relative;
    top: 75px;
    left: -25px;
    width: 30px;
    height: 30px;
  }
  
.top-bar{
    width: 100%;
    height: 60px;
    background-color:white;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0px;
    overflow-y: hidden;
}

.searchbox{
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
}

.Logout-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 223px; 
  background-color: white;
  z-index: 1;
}

.Logout-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Logout-nav li {
  display: block;
  padding: 10px;
}

.Logout-nav li a {
  color: #F31919;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  right: -43px;
  bottom: -28px;
}

.Logout-icon{
position: relative;
top: -3px;
right: -17px;
}


h1 {
  margin-top: -10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.overview-header {
    font-size: 29px;
    color: grey;
    border-bottom: 2px solid grey; /* Add a bottom border */
	text-align: left;
}

table {
  margin: 50px auto;
  border-collapse: collapse;
  background-color: #fff;
  width: 50%; /* Increase the width to 100% */
  height: 300px; /* Increase the height to 400px */
}

table tr td {
   margin-bottom: 0;
	
}

table tr:not(:first-child) {
  margin-top: px;
}

table tr td label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

table tr td input[type="date"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

table tr td button {
  padding: 10px 20px;
  background-color: #0867EC;
  margin-left:260px;
  color: #fff;
  border: none;
  cursor: pointer;
  
}

table tr td button:hover {
  background-color: #054FCC;
}
.reserve-buttons {
     position: relative; /* Ensure the container has relative positioning */
    padding: 1px;
    margin: 0;
}

.reserve {
    position: absolute; /* Position the button absolutely */
    top: -100px; /* Adjust the distance from the top */
    left: 65%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontally to center */
    width: 160px;
    height: 40px;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.reserve:hover {
    background-color: darkblue;
}


.logout ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .logout li a {
    display: block;
    color: gray;
    padding: 4px 16px;
    text-decoration: none;
    font-size: medium;
    position: relative;
    bottom: -700px;
    left: -12px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
  }
  
  .logout li a.blue-link {
    color: #0867EC;
  }
  
