body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

h2 {
  color: #333333;
}

.upload-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  width: 120px; /* Adjust label width if needed */
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 130px); /* Adjust input width based on label width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="file"]::placeholder {
  color: #ccc;
}

input[type="submit"],
button {
  padding: 10px 15px;
  background-color: #1366D9;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button {
  background-color: #aaaaaa;
  margin-left: 10px;
  position: relative;
}

form {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.upload-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-upload-container {
  margin-right: 20px; /* Adjust margin to move the box */
}

.image-upload {
  width: 68px;
  height: 64px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
  line-height: 64px;
  position: relative;
  right: -14px;
}

input[type="file"] {
  display: none; /* Hide the default file input */
}

.browse-text {
  font-size: 14px;
  position: relative;
  left: -35px;
}
