<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{% static 'Images/Short_icon.png' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
    </head>
<body>
    <div class="content-wrapper">
    <div class="Nav-sidebar">
        <ul class="Nav-bar">
            <li><a href=#>Dashboard</a></li>
            <a href="#"><img src="{% static 'Images/home.png'%}" alt="Dashboard Icon" class="dash-icon"></a>
            <li><a href="{% url 'admin_item_list' %}">Item List</a></li>
            <a href="#"><img src="{% static 'Images/itemlist.png'%}" alt="Item List Icon" class="item-icon"></a>
            <li> <a href="{% url 'generate_reports'%}" onclick="toggleNav(this)">Reports</a></li>
            <a href="{% url 'generate_reports'%}"><img src="{% static 'Images/Report.png'%}" alt=" Report Icon" class="report-icon"></a>
            <li> <a href="{% url 'manage_users'%}" onclick="toggleNav(this)">Manage Users</a></li>
            <a href="{% url 'manage_users'%}"><img src="{% static 'Images/Manage users.png'%}" alt="manage users report-icon" class="manageusers-icon"></a>
            <li> <a href="#" onclick="toggleNav(this)">Previous Bookings</a></li>
            <a href="#"><img src="{% static 'Images/PreviousBooking.png' %}" alt="Previous booking icon" class="previousbkng-icon"></a>
            <li> <a href="#" onclick="toggleNav(this)">Manage</a></li>
            <a href="#"><img src="{% static 'Images/Manage.png'%}" alt="Manage Icon" class="manage-icon"></a>
            <li> <a href="Alerts.html" onclick="toggleNav(this)">Alerts</a></li>
            <a href="Alerts.html"><img src="{% static 'Images/Alert.png'%}" alt=" Alerts Icon" class="alert-icon"></a>
        </ul>
    </div>

</div>

<div class="Logout-nav">
        <ul>
            <li><a href="#" onclick="toggleNav(this)">Log Out</a></li>
            <a href="#"><img src="{% static 'Images/Logout.png'%}" alt="Logout Icon" class="Logout-icon"></a>
        </ul>
    </div>

<div class="westmnstr-logo">
    <a href="Dashboard.html"><img src="{% static 'Images/Westminster Logo.png' %}" alt="westminster logo"></a>
</div>
<div class="top-bar">
    <div class="search-bar">
        <form action="/action_page.php">
            <input type="text" placeholder="Search product, Device Type.." name="search">  
        </form>
    </div>
</div>

<div class="dropdown">
    <img src="images/DefaultUser.png" alt="User-profile">
    <div class="dropdown-content">
        <a href="AdminLogin.html">Login</a>
        <a href="AccountSettings.html">Account Settings</a>
    </div>
</div>

<div class="loading-container">
    <img class="loading-image" src="Loading.gif" alt="Loading...">
  </div>


<div class="line-divider">
</div>


<script>
    function toggleNav(link) {
        var links = document.querySelectorAll('.Nav-bar li a');
        links.forEach(function (el) {
            el.classList.remove('blue-link');
        });
        link.classList.add('blue-link');
    }
</script>


</body>
</html>
